// Tags
body{
	color: $cbase;
	font-size: 16px;
	font-family: $ffbase, sans-serif;
	font-weight: 400;
	line-height: 1.5;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: rgba($cblack, 0);
}
a{
	color: $ccorp;
	text-decoration: none;
	outline: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
	&:hover,
	&:focus{
		text-decoration: none;
	}
	&:hover{
		color: $cbase;
	}
	&:focus{
		color: $ccorp;
	}
}
// Tags
// Map
div.map{
	width: 100%;
	height: 400px;
}
// Map
// SVG stroke for animation
svg.dashed{
	fill: none;
	path{
		transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
	}
	&:hover{
		path{
			stroke-dashoffset: 0 !important;
		}
	}
}
// SVG stroke for animation
// Socials
div.socials{
	ul{
		@extend .no-list;
		display: flex;
		li{
			margin-right: 15px;
			&:last-child{
				margin-right: 0;
			}
			a{
				@extend .flex;
				width: 20px;
				height: 20px;
				color: $ccorp;
				font-size: 15px;
				&:hover{
					color: $cbase;
				}
			}
		}
	}
}
// Socials
// Container
div.container{
	width: Min(calc(80vw - 2rem), 90rem);
	margin-inline: auto;
	@media(max-width: 1024px){
		width: Min(calc(100vw - 2rem), 90rem);
	}
}
// Container

// show more
.morecontent span {
	display: none;
}
.morelink {
	display: block;
	color: $cbase;
	font-size: 12px;
	&:hover {
		color: $cred;
	}
}

// Mobile fixed button
.mobile_fixed_button {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	display: none;
	z-index: 9999;
	@media (max-width: 1024px) {
		display: block;
	}
	a {
		display: flex;
		align-items: center;
		justify-content: center;
		color: $cwhite;
		text-transform: uppercase;
		font-size: 18px;
		width: 100%;
		padding: 10px 0;
		background: $ccorp;
	}
}

.page_title{
	margin-bottom: 25px;
	font-size: 50px;
	font-weight: 700;
}
.page_subtitle{
	margin-bottom: 30px;
	font-size: 42px;
	color: $ccorp;
}
.section_title{
	margin-bottom: 15px;
	font-size: 22px;
	color: $ccorp;
	font-weight: 700;
}
.subtitle{
	margin-bottom: 15px;
	font-size: 36px;
	font-weight: 700;
	color: $cdark;
}
.section_text{
	font-size: 16px;
	&.center{
		text-align: center;
	}
}
.section_list{
	ul{
		@extend .no-list;
		li{

		}
	}
}
.theme_button{
	a{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 10px 25px;
		font-size: 18px;
		color: $cdark;
		text-transform: uppercase;
		background-color: $ccorp;
		color: $cwhite;
		i{
			margin-right: 10px;
		}
	}
	&.gray{
		a{
			background-color: transparent;
			background-image: linear-gradient(to right, #DDDDDD,#CECECE);
			color: $cdark;
		}
	}
	&.black{
		a{
			background-color: $cdark;
			color: $cwhite;
		}
	}
	&.oblique_both{
		a{
			padding: 10px 45px;
			clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
		}
	}
	&.oblique_right{
		a{
			padding: 10px 45px 10px 25px;
			clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
		}
	}
	&.text{
		a{
			background-color: transparent;
			color: $cdark;
			text-transform: none;
			i{
				display: flex;
				align-items: center;
				justify-content: center;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background-color: $ccorp;
				color: $cwhite;
				font-size: 16px;
			}
		}
		&.black{
			a{
				i{
					background-color: $cdark;
				}
			}
		}
	}
}
.section_buttons{
	display: flex;
	align-items: center;
	margin-top: 30px;
	.theme_button{
		&:first-child{
			margin-right: 20px;
		}
	}
	&.center{
		justify-content: center;
	}
}