section.benefits{
    margin-bottom: 170px;
    @media(max-width: 1024px){
        margin-bottom: 50px;
    }
    .section_wrap{
        display: grid;
        grid-gap: 40px;
        grid-template-columns: 1fr 1.5fr;
        align-items: end;
        @media(max-width: 1440px){
            grid-gap: 20px;
        }
        @media(max-width: 1024px){
            grid-template-columns: 1fr;
        }
        .section_left{

        }
        .section_right{
            .benefits_list{
                display: grid;
                grid-gap: 20px;
                grid-template-columns: repeat(2, 1fr);
                @media(max-width: 1024px){
                    grid-template-columns: 1fr;
                }
                .benefit_item{
                    padding: 20px 15px;
                    background-color: $clight;
                    @media(max-width: 1440px){
                        padding: 20px 15px;
                    }
                    &:nth-child(2n){
                        transform: translateY(-35px);
                        @media(max-width: 1024px){
                            transform: translateY(0);
                        }
                    }
                    .benefit_title{
                        display: flex;
                        align-items: center;
                        margin-bottom: 18px;
                        img{
                            margin-right: 16px;
                        }
                        span{
                            font-size: 18px;
                            font-weight: 700;
                        }
                    }
                    .benefit_text{

                    }
                }
            }
        }
    }
}