section.banner{
    padding: 60px 0 90px;
    figure{
        @extend .overlay;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .container{
        .banner_title{
            margin-bottom: 25px;
            font-size: 36px;
            text-align: center;
        }
    }
}